body {
  background-image: url("../img/egg_pizza.jpg");
  background-repeat:no-repeat repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: larger;
}
h1 {
  text-align: center;
}
.container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  background-color: lightblue;
  border: 1px solid black;
}
#main {
  padding: 20px;
  margin: 10px;
  
}
#total-msg {
  display: none;
}