h1 {
  text-align: center;
}
.container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  background-color: lightblue;
  border: 1px solid black;
}
#main {
  padding: 20px;
  margin: 10px;
  
}
#total-msg {
  display: none;
}